@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
@import url("https://use.typekit.net/mus6lse.css");
@import 'mixins', 'variables';


/*===== Global styles =====*/
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    min-width: 100%;
    width: 100%;
    font-family: $body-font;
    font-size: 1.6rem;
    line-height: 1.4;
    font-weight: 400;
    color: $text-color-dk;
    background-color: $secondary-color;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

img {
    width: 100%;
}

section {
    margin-top: 7rem;
}

.row-rev {
    flex-direction: row-reverse;
}

.bg-repeat {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-heading {
    font-size: 5rem;
    font-family: $heading-font;
    text-align: center;
    margin-bottom: 3rem;
}

.active,
.accordion-btn:hover {
    background-color: #ccc;
}

/*===== Navigation =====*/
.header {
    width: 100%;
    max-width: 100%;
    @include flex(flex, space-between, center);
    text-decoration: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    will-change: top;
    padding: 1rem 1.5rem;
    background-color: $primary-color;
    transition: top .3s ease-in-out;

    .logo {
        img {
            width: 4rem;
            padding-left: 1rem;
        }
    }

    .gn {
        display: none;
        position: absolute;
        top: 4.5rem;
        left: 0;
        color: $text-color-wt;
        background-color: $primary-color;
        width: 100%;
        a {
            color: $secondary-color;
        }
        li:last-child {
            border: none;
        }
    }

    .gn-items {
        @include flex(flex, center,center);
        flex-direction: column;
        li {
            font-size: 1.6rem;
            font-weight: 400;
            color: $secondary-color;
            position: relative;
            text-align: center;
            padding: 2.5rem 0;
        }
    }

    /*===== Burger Menu =====*/
    .gn-trigger {
        position: relative;
        width: 5rem;
        height: 3rem;
        border: none;
        background: transparent;
        cursor: pointer;
    }

    .burger {
        position: absolute;
        align-items: center;
        width: 3rem;
        height: 3rem;
        color: $secondary-color;
        font-weight: 300;
        top: 0;
        right: 2.5rem;
    }

    .burger .icon {
        font-size: 25px;
        margin-right: auto;
        transition: all 0.3s ease-in-out;
    }

    .gn-trigger.is-active .burger .icon {
        transform: rotateX(180deg);
        transition: all 0.3s ease-in-out;
    }

    // .burger:before,
    // .burger:after {
    //     content: '';
    //     display: block;
    //     position: absolute;
    //     background: $secondary-color;
    //     width: 1.8rem;
    //     height: .3rem;
    //     top: -1.7rem;
    // }

    // .burger:before {
    //     right: 4.2rem;
    //     top: 1.3rem;
    //     transform: rotate(35deg);
    // }

    // .burger:after {
    //     left: .4rem;
    //     transform: rotate(-35deg);
    //     top: 1.3rem;
    // }

    // .burger,
    // .burger::before,
    // .burger::after {
    //     /* transition-property: transform, top, background;
    //     transition-duration: 0.35s; */
    //     transition: all 0.25s linear;
    // }

    // .gn-trigger.is-active .burger:before {
    //     right: 3.4rem;
    //     width: 2.2rem;
    //     height: .3rem;
    //     transform: rotate(45deg);
    // }

    // .gn-trigger.is-active .burger:after {
    //     left: -0.6rem;
    //     width: 2.2rem;
    //     height: .3rem;
    //     transform: rotate(-45deg);
    // }

    .gn-trigger.is-active,
    .burger {
        transition: all 0.25s linear;
    }
}

/*===== Header =====*/
header.header-up {
    top: -18rem;
    box-shadow: none;
}

/*===== Main =====*/
.main {
    background-color: $secondary-color;
}

/*===== Homepage Banner =====*/

.bnr {
    width: 100%;
    height: 60vh;
    margin: 5rem auto;
    padding: 11rem 0 0;
    background-color: $secondary-color;
    background-image: url(../images/banner-bg.png);
    background-position-y: top;
    overflow: hidden;
    .left {
            display: none;
        }

    .right {
        margin-right: 1.5rem;
        text-align: center;
        padding: 3.5rem 0 3.5rem 1.5rem;
        h1{
            font-size: 5.6rem;
            font-family: $heading-font;
            font-weight: 600;
            margin-bottom: 2rem;
        }
        h2{
            font-size: 2rem;
            font-weight: 500;
            margin-bottom: 5.5rem;
        }
        h3{
            font-size: 2.8rem;
            font-weight: 400;
            margin-bottom: 1.5rem;
        }
        .cta {
            @include flex(flex,center,center);
            a {
                color: $secondary-color;
                border: 2px solid $primary-color;
                background-color: $primary-color;
                position: absolute;
                padding: 1rem 3.5rem;
                border-top-left-radius: 20% 70%;
                border-bottom-right-radius: 20% 70%;
                transition: all 0.3s ease-in-out;
            }
        }     
    }
}

/*===== Work =====*/
.work {
    padding-top: 5rem;
    margin-top: 0;
    background-color: $primary-color;
    color: $secondary-color;
    .container {
        width: 100%;
        margin: 0 auto;
    }
     .card {
         width: 100%;
         h3 {
             font-size: 2.4rem;
             color: $text-color-dk;
         }
         p {
             margin-bottom: 2.5rem;
         }
         .display-vid {
             height: auto;
             min-height: 40vh;
             background-color: $primary-color;
             @include flex(flex, center, center);
            .image {
                display: block;
            }
             .vid {
                display: none;
             }
         }
         .accordion-btn{ 
             cursor: pointer;
             @include flex(flex, space-between, center);
             margin: 0 auto;
             padding: 2rem 3rem;
             background-color: $secondary-color;
            box-shadow: -2px 9px 7px -4px rgba(0, 0, 0, 0.19);
            -webkit-box-shadow: -2px 9px 7px -4px rgba(0, 0, 0, 0.19);
            -moz-box-shadow: -2px 9px 7px -4px rgba(0, 0, 0, 0.19);
            .icon {
                font-size: 2rem; 
                color: $text-color-dk;
                transition: all 0.3s ease-in-out;
            }
            
         }
        .accordion-btn.active .icon{
            transform: rotate(180deg);
            transition: all 0.3s ease-in-out;
        }
         .content {
            display: none;
            background-color: $secondary-color;
             .description {
                margin: 0 auto;
                padding: 3rem 8rem 3rem 5rem;
                box-shadow: -2px 9px 7px -4px rgba(0, 0, 0, 0.19);
                -webkit-box-shadow: -2px 9px 7px -4px rgba(0, 0, 0, 0.19);
                -moz-box-shadow: -2px 9px 7px -4px rgba(0, 0, 0, 0.19);
                .ftr {
                    display: grid;
                    grid-template-columns: [first] 50% [line2] auto [line3] 50% [end];
                    .skills {
                        grid-column-start: 1;
                        grid-column-end: 2;
                    }
                    .links {
                        font-size: 1.5rem;
                        grid-column-start: 3;
                        grid-column-end: 4;
                        @include flex(flex, flex-end, center);
                        .git-link {
                            margin-left: 1.5rem;
                        }
                        a {
                            color: $primary-color;
                        }
                    }
                }
             }
             
         }

     }
}

/*===== About =====*/
.about {
    width: 100%;
    .about-me {
        width: 80%;
        margin: 5rem auto;
        @include flex(flex, center, center);
        flex-direction: column;
        .img {
            width: 70%;
            position: relative;
            background-color: $primary-color;
            border: solid $primary-color 2px;
            margin-bottom: 4rem;
            border-radius: 29% 71% 48% 52% / 50% 50% 50% 50%;
            img{
                width: 100%;
                margin: 0 auto;
                clip-path: circle(50%);
            }
        }
        .img::after {
            position: absolute;
            bottom: -1.5rem;
            left: 0;
            content:"";
            width: 100%;
            height: 100%;
            border: 2px $primary-color solid;
            transform: rotate(-45deg);
            border-radius: 48% 52% 68% 32% / 50% 50% 50% 50%;
        }
        .img::before {
            position: absolute;
            bottom: -1rem;
            left: 0;
            content:"";
            width: 100%;
            height: 100%;
            border: 2px $primary-color solid;
            border-radius: 53% 83% 98% 57% / 38% 50% 55% 65%;
            transform: rotate(45deg);
        }
    }
    .get-to-know {
        width: 80%;
        margin: 0 auto;
        padding: 3rem;
        background-color: $primary-color;
        color: $secondary-color;
        text-align: center;
        h3 {
            font-size: 2.4rem;
            margin-bottom: 2.5rem;
            
        }
        .terms {
            width: 50%;
            margin: 3rem auto;
            .tile {
                text-align: center;
                padding: 1.5rem;
                border: 1px solid $secondary-color;
                border-radius: 62% 38% 39% 61% / 25% 55% 45% 75%;
                margin: 2rem;
            }
            .tile.rev {
                border-radius: 75% 25% 83% 17% / 61% 77% 23% 39%;
            }
        }
        
        
    }

    
}

/*===== About =====*/


/*===== Connect =====*/

.connect-container {
    max-width: 60%;
    margin: 0 auto;
    padding: 2rem 3rem 12rem;
    @include flex(flex, center, center);
    flex-direction: column-reverse;
    position: relative;
    text-align: center;
    .content {
        .sec-header {
            font-size: 3.6rem;
            margin-bottom: 2.5rem;
        }
        p {
            font-size: 2rem;
        }
    }
    
    .image::after,.image::before {
        position: absolute;
        left: 0;
        content:"";
        width: 100%;
        height: 100%;
        border: 2px $primary-color solid;
        border-radius: 48% 52% 68% 32% / 50% 50% 50% 50%;
    }
    .image {
        width: 100%;
        position: relative;
        margin: 3rem 0;
    }
    .image::before {
        bottom: -1rem;
        transform: rotate(180deg);
    }
    .image::before {
        bottom: 1.5rem;
        transform: rotate(4deg);
    }
    img {
        width: 100%;
        border-radius:59% 41% 45% 55% / 30% 40% 60% 70%; 
    }
    // recolor triangle
    .triangle {
        position: absolute;
        bottom: -14rem;
        width: 15rem;
        height: 20rem;
        background-image: url(../images/connect/triangle.svg);
        border-radius: 1.5rem;
        z-index: 10;
    } 
    
}



.form-container {
    background-color: $primary-color;
    padding-top: 20rem;
    padding-bottom: 6rem;
    .error-msg {
        color: $secondary-color;
        text-align: center;
    }
    .form {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        min-width: 25rem;
        max-width: 60rem;
        input[type = text],
        input[type = email],
        input[type = subject]{
            width: 80%;            
            margin: 0.5rem auto;
            border-radius: 2rem;
            @extend .form-style;
            background-color: $secondary-color;
        }

        input[type = submit] {
            cursor: pointer;            
            width: 20%;
            padding: 1rem 3.5rem;
            border-top-left-radius: 20% 70%;
            border-bottom-right-radius: 20% 70%;
            font-size: 1.4rem;
            min-width: 7.5rem;
            margin: 2rem auto;
            border: 2px solid $secondary-color;
            background: $secondary-color;
            color: $text-color-dk;
            transition: all 0.3s ease-in-out;
        }

        input[type = submit]:disabled {
            background-color: #ccc;
            color: #fff;
            padding: 1rem 3.5rem;
            border-top-left-radius: 20% 70%;
            border-bottom-right-radius: 20% 70%;
            cursor: default;
        }

        textarea {
            width: 80%;
            resize: none;
            background-color: $secondary-color;
            border-radius: 1.5rem;
            padding: 1rem 2rem;
            font-size: 1.2rem;
            font-family: $body-font;
            margin: 0.5rem auto;
        }

        .g-recaptcha {
            margin: 2.5rem auto;
        }
    }
    .btn {
        width: 20%;
        margin: 2rem auto;
        a {
            padding: 1rem 3.5rem;
            border-top-left-radius: 20% 70%;
            border-bottom-right-radius: 20% 70%;
            font-size: 1.4rem;
            margin: 0 auto;
            border: 2px solid $secondary-color;
            background: $secondary-color;
            color: $text-color-dk;
            transition: all 0.3s ease-in-out;
        }
    }
}

.footer {
    background-color: $primary-color;
    color: $secondary-color;
    padding: 2rem;
    margin: 0 auto;
    .content {        
        margin: 0 auto;
        @include flex(flex, center, center);
        flex-direction: column;
        .socials{
            width: 20rem;
            margin-top: 2rem;
            @include flex(flex, space-evenly, center);
            flex-direction: row;
            .fa-brands {                
                color: $secondary-color;
                font-size: 2.5rem;
            }
        }        
        .pipe {
            display: none;
        }
    }

    
}