@import 'main', 'mixins';

@media (min-width: 800px) {
    .about {
        .about-me {
            max-width: 1000px;
        }
        .get-to-know {
            max-width: 775px;
        }
    }
}

@media (min-width: 992px) {
    .header {
        justify-content: center;
        .gn-trigger {
            display: none;
        }

        .gn {
            display: block !important;
            position: static;
        }

        .gn-items {
            display: flex;
            justify-content: flex-end;
            flex-direction: row;
            align-items: center;
        }

        .gn-items li {
            margin-right: 3rem;
            border-bottom: none;
            font-weight: 400;
            padding: 1rem 2rem;
            a {
                padding: 1rem;
            }
        }
        .gn-items li:hover a{
            width: 100%;
            height: 0%;
            background-color: $accent-color;
            border-top-right-radius: 20% 70%;
            border-top-left-radius: 20% 70%;
            border-bottom-right-radius: 20% 70%;
            border-bottom-left-radius: 20% 70%;
            border: 3px solid $secondary-color;
            color: $primary-color;
        }
        .gn-items li:hover:before,
        .gn-items li:hover:after {
            width: 1.3rem;
            height: 1.3rem;
            border-color: $secondary-color;
        }
    }

    /*===== Banner =====*/

    .bnr {
        background-image: none;
        flex-direction: row;
        height: 100vh;
        padding: 0;
        .col {
            flex-basis: 50%;
            max-width: 50%;
        }   
        .left {
            padding-top: 0;
            height: 70vh;
            display: block;
            overflow: hidden;
            display: flex;
            justify-content: center;
        }
        .right {
            padding-top: 20rem;
            .cta {
                a:hover{
                    color: $secondary-color;
                    background-color: transparent;
                }
            }
        }
    }

    /*===== Works =====*/
    .work {
        background-color: $primary-color;
        h2 {
                color: $text-color-lt
            }
        .reverse {
                flex-direction: row-reverse;
            }
        .card {        
            display: flex;            
            h3 {
                text-align: left;
                color: $text-color-lt;
                }
            .text {
                @include card-grid-lg(10%);
                margin: 5.5rem auto;
                flex-basis: 50%;
            }
            .display-vid {
                    flex-basis: 50%;
                    .image{
                        display: none;
                    }
                    .vid {
                        display: block;
                        width: 100%;
                        height: auto;
                        margin: 0 auto;
                    }
                }
            .accordion-btn{
                cursor: auto;
                padding: 2rem 0;
                background-color: transparent;
                box-shadow: none;
                grid-column: 2 / 6;
                grid-row: 1 / 2;
                .icon {
                    display: none;
                    transition: all 0.3s ease-in-out;
                }
                .link {
                    transition: all 0.3s ease-in-out;
                }
                .link:hover {
                    transform: scale(1.2);
                    transition: all 0.3s ease-in-out;
                }
            }            
            .content {
                grid-column: 1 / 7;
                grid-row: 2 / 4;
                background-color: transparent;
                box-shadow: none;
                display: block;
                .description {
                    background-color: $secondary-color;
                    box-shadow: -2px 9px 7px -4px rgba(0, 0, 0, 0.19);
                        -webkit-box-shadow: -2px 9px 7px -4px rgba(0, 0, 0, 0.19);
                        -moz-box-shadow: -2px 9px 7px -4px rgba(0,0, 0, 0.19);
                }
            }
        }
    }

    /* ===== About ===== */
    .about {
        .panel {
            max-width: 1200px;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            column-gap: 2rem;
            .img {
                width: 100%;
                padding: 2rem 3rem;
                grid-column: 1 / 6;
            }
            .content {
                grid-column: 8 / 13;
            }
        }
        .panel-rev {
            .img {
                grid-column: 8 / -1;
                grid-row: 1 / 2;
            }
            .content {
                grid-column: -13 / 6;
                grid-row: 1 / 2;
            }
        }
        .game {
        width: 100%;
        margin: 0 auto;
        padding: 5rem 2rem;
        border-radius: 0.5rem;
        border: 0.6rem solid $accent-color;
        background-color: $primary-color;
        color: $secondary-color;
        text-align: center;
        box-shadow: -20px 20px 10px -6px rgba(20, 20, 20, 0.2);
        h3 {
            font-size: 2.4rem;
            margin-bottom: 2.5rem;
        }
        p {
            margin-top: 2rem;
        }
        .instructions-desk {
            display: block;
        }
        .container {
            margin-top: 4rem;
            display: flex;
            justify-content: center;
            .droppable {
                display: block;
            }
            .holder {
                flex-basis: 33.33333333%;
                margin: 0 1rem;
                border-radius: 0.4rem;
                border: 0.5rem solid $secondary-color;
            }
            .word-bank {                
                .draggable-item {
                    border-radius: 0.4rem;
                    border: 0.1rem solid $secondary-color;
                    padding: 1rem 2rem;
                }
            }
            //if user puts like item in dislike droppable area, background becomes pink
            .dislike .like-item {
                background: $accent-color;
            } 
            .dislike .like-item {
                background: $accent-color;
            } 
        }
        
        
        
    }
    }

    /* ===== Connect ===== */
    .connect {

        .connect-container {
            flex-direction: row-reverse ;
            text-align: center;
        .col {
                flex-basis: 50%;
                max-width: 50%;        
            }
        }

        .form-container {
            .form {
                input[type=submit]:hover {
                    background-color: transparent;
                    color: $secondary-color;
                    transition: all 0.3s ease-in-out;
                }
                input[type = submit]:disabled:hover{
                    background-color: #ccc;
                    color: #fff;
                    cursor: default;
                }
            }
            .btn a {
                padding: 1rem 2rem;
                border-radius: 48% 52% 68% 32% / 50% 50% 50% 50%;
                font-size: 1.4rem;
                margin: 2rem auto;
                border: 2px solid $secondary-color;
                background: $secondary-color;
                color: $text-color-dk;
                transition: all 0.3s ease-in-out;
            }
        }
    }

    /* ===== Footer ===== */
    .footer {
        .content{
            flex-direction: row;
            .socials {
                width: auto;
                justify-content: center;
                margin-top: 0;
                display: block;
                .fa-brands {
                    color: $secondary-color;
                    font-size: 2.5rem;
                    margin-left: 2rem;
                }
            }
            .copyright {
                margin-right: 2rem;
            }
            .pipe {
                display: block;
            }
        }
        
    }
    
}

@media (min-width: 1024px) {
    .bnr {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        
        .left{
            .birds {
                transform: translateY(0);
            }

            .birds-even {
                transform: translateY(-31rem);
            }

            @keyframes move-birdseven {
                0% {transform: translateY(-120rem);}
                100%{transform: translateY(-31rem);}
            }

            @keyframes move-birds {
                0% {transform: translateY(100rem);}
                100%{transform: translateY(0rem);}
            }
        }
        .right {
            padding-top: 0;
            h1 {
                font-size: 6.4rem;
            }
        }
    }

    .work {
        .container {
            max-width: 1600px;
        }
    }
}

@media (min-width: 1500px) {
    .work {
        .card {
            .content {
                .description {
                    padding: 5rem 10rem; 
                }
            }
        }
    }
}
