@import 'main', 'mixins';

@media (min-width: 480px) {
    .work {
        .container{
            .card {
                .accordion-btn {
                    padding: 2rem 3rem;
                    .icon {
                        font-size: 3rem;
                    }
                }
            }
        }
    }
}

@media (min-width: 800px) {
    .about {
        .about-me {
            max-width: 1000px;
        }
        .get-to-know {
            max-width: 775px;
        }
    }
}

@media (min-width: 992px) {
    .header {
        justify-content: center;
        border-bottom: solid 3px $secondary-color;
        .gn-trigger {
            display: none;
        }

        .gn {
            display: block !important;
            position: static;
            border-bottom: none;
        }

        .gn-items {
            display: flex;
            justify-content: flex-end;
            flex-direction: row;
            align-items: center;
        }

        .gn-items li {
            margin-right: 3rem;
            border-bottom: none;
            font-weight: 400;
            a {
                border: 3px solid $primary-color;
            }
        }
        .gn-items li:hover a{
            width: 100%;
            height: 0%;
            border-radius: 0.4rem;
            border-bottom: 3px solid $accent-color;
            font-weight: 600;
        }
        .gn-items li:hover:before,
        .gn-items li:hover:after {
            width: 1.3rem;
            height: 1.3rem;
            border-color: $secondary-color;
        }
        .logo {
            img {
                width: 8rem;
            }
        }
    }

    /*===== Banner =====*/

    .bnr {
        background-image: none;
        flex-direction: row;
        align-items: center;
        height: 70vh;
        padding: 10rem 0;
        .col {
            flex-basis: 50%;
            max-width: 50%;
        }   
        .left {
            padding-top: 0;
            height: 70vh;
            display: block;
            overflow: hidden;
            display: flex;
            justify-content: center;
        }
        .right {
            padding-top: 20rem;
            .cta {
                a:hover{
                    @include button-hover-style;
                }
            }
        }
    }

    /*===== Works =====*/
    .work {
        background-color: $primary-color;
        .container{
            width: 90%;
            h2 {
                    color: $text-color-lt
                }
            .reverse {
                    flex-direction: row-reverse;
                }
            .card {        
                display: flex;
                max-width: 1200px;      
                margin: 10rem auto;      
                h3 {
                    color: $text-color-lt;
                }
                p {
                    font-size: 1.6rem;
                }
                .content-wrapper {
                    position: relative;
                    margin: 5.5rem auto;
                    padding: 1.5rem 0 5rem;
                    flex-basis: 45%;
                    border: 4px solid $accent-color;
                    border-radius: 0.4rem;
                }
                .display-vid {
                        flex-basis: 55%;
                        .image{
                            display: none;
                        }
                        .vid {
                            display: block;
                            width: 100%;
                            height: auto;
                            margin: 0 auto;
                        }
                    }
                .accordion-btn {
                    cursor: auto;
                    padding: 0 0 2rem;
                    background-color: transparent;
                    box-shadow: none;
                    justify-content: center;
                    h3 {
                        font-size: 2.6rem;
                    }
                    .icon {
                        display: none;
                        transition: all 0.3s ease-in-out;
                    }
                    .link {
                        transition: all 0.3s ease-in-out;
                    }
                    .link:hover {
                        transform: scale(1.2);
                        transition: all 0.3s ease-in-out;
                    }
                }            
                .content {
                    background-color: transparent;
                    box-shadow: none;
                    display: block;
                    .description {
                        color: $text-color-lt;
                        height: 100%;
                        h4 {
                            font-size: 2rem;
                            
                        }
                        ul {
                            margin-left: 2.5rem;
                            font-size: 1.6rem
                        }
                        li {
                            list-style-type: circle;
                        }
                        a {
                            color: $accent-color;
                        }
                    }
                    .ftr {
                        .icon {
                            color: $accent-color;
                        }
                    }                
                    
                }
            }
        }
    }

    /* ===== About ===== */
    .about {
        .panel {
            max-width: 1200px;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            column-gap: 2rem;
            padding: 0 4.5rem;
            .img {
                width: 100%;
                padding: 2rem 3rem;
                grid-column: 1 / 6;
            }
            .content {
                grid-column: 8 / 13;
            }
        }
        .panel-rev {
            .img {
                grid-column: 8 / -1;
                grid-row: 1 / 2;
            }
            .content {
                grid-column: -13 / 6;
                grid-row: 1 / 2;
            }
        }
        .game {
        width: 100%;
        margin: 0 auto;
        padding: 5rem 2rem;
        border-radius: 0.5rem;
        border: 0.6rem solid $accent-color;
        background-color: $primary-color;
        color: $secondary-color;
        text-align: center;
        box-shadow: -20px 20px 10px -6px rgba(20, 20, 20, 0.2);
        h3 {
            font-size: 2.4rem;
            margin-bottom: 2.5rem;
        }
        p {
            margin-top: 2rem;
        }
        .instructions-desk {
            display: block;
        }
        .container {
            margin-top: 4rem;
            display: flex;
            justify-content: center;
            .droppable {
                display: block;
            }
            .holder {
                flex-basis: 33.33333333%;
                margin: 0 1rem;
                border-radius: 0.4rem;
                border: 0.5rem solid $secondary-color;
            }
            .word-bank {                
                .draggable-item {
                    border-radius: 0.4rem;
                    border: 0.1rem solid $secondary-color;
                    padding: 1rem 2rem;
                }
            }
            //if user puts like item in dislike droppable area, background becomes pink
            .dislike .like-item {
                background: $accent-color;
            } 
            .dislike .like-item {
                background: $accent-color;
            } 
        }
        
        
        
    }
    }

    /* ===== Connect ===== */
    .connect {

        .connect-container {
            flex-direction: row-reverse ;
            text-align: center;
        .col {
                flex-basis: 50%;
                max-width: 50%;        
            }
        }
        .error-msg-wrap {
            .btn {
                a:hover {
                    @include button-hover-style;
                }
            }
        }

        .form-container {
            display: flex;
            .graphic {
                display: block;
                width: 10%;
                height: 100%;
                margin: 0 auto;
            }
            
            .form {
                input[type=submit]:hover {
                    @include button-hover-style;
                }
                input[type = submit]:disabled:hover{
                    background-color: #ccc;
                    color: #fff;
                    cursor: default;
                }
            }
        }
    }

    /* ===== Footer ===== */
    .footer {
        .content{
            flex-direction: row;
            .socials {
                width: auto;
                justify-content: center;
                margin-top: 0;
                display: block;
                .fa-brands {
                    font-size: 2.5rem;
                    margin-left: 2rem;
                }
            }
            .copyright {
                margin-right: 2rem;
            }
            .pipe {
                display: block;
            }
        }
        
    }
    
}

@media (min-width: 1024px) {
    .bnr {
        max-width: 1200px;
        margin: 0 auto;
        .right {
            padding-top: 0;
            padding-left: 4rem;
            h1 {
                font-size: 6.4rem;
            }
        }
    }

    .work {
        .container {
            max-width: 1600px;
            
        }
    }
}



