@import 'main', 'mixins';


@media (min-width: 576px) {
    
}

@media (min-width: 768px) {
    
}

@media (min-width: 800px) {
    .about {
        .about-me {
            max-width: 775px;
        }
        .get-to-know {
            max-width: 775px;
        }
    }
}

@media (min-width: 992px) {
    .header {
        justify-content: center;
        .gn-trigger {
            display: none;
        }

        .gn {
            display: block !important;
            position: static;
        }

        .gn-items {
            display: flex;
            justify-content: flex-end;
            flex-direction: row;
            align-items: center;
        }

        .gn-items li {
            margin-right: 3rem;
            border-bottom: none;
            font-weight: 400;
            padding: 1rem;
        }

        .gn-items li:before,
        .gn-items li:after {
            content: "";
            position: absolute;
            display: block;
            border: 0px solid transparent;
            width: 0%;
            height: 0%;
            transition: all 0.3s ease;
        }

        .gn-items li:before{
            width: 0%;
            height: 0%;
            right: 0;
            bottom: 0;
            border-bottom: 2px solid transparent;
            border-right: 2px solid transparent;
        }

        .gn-items li:after{
            width: 0%;
            height: 0%;
            top: 0;
            left: 0;
            border-top: 2px solid transparent;
            border-left: 2px solid transparent;
        }

        .gn-items li:hover:before,
        .gn-items li:hover:after {
            width: 1.3rem;
            height: 1.3rem;
            border-color: #E8E3DD;
        }
    }

    /*===== Banner =====*/

    .bnr {
        background-image: none;
        display: flex;
        height: 100vh;
        padding: 0;
        .col {
            flex-basis: 50%;
            max-width: 50%;
        }
    
        .left {
            display: block;
            overflow: hidden;
            display: flex;
            justify-content: center;
            opacity: 25%;

            .birds, .birds-even {
                display: flex;
            }
        
            .birds-even {
                transform: translateY(-40rem);
                animation: move-birdseven 2s ease-in-out;
                
            }
            
            .birds {
                transform: translateY(-12rem);
                animation: move-birds 2s ease-in-out;
            }
            
            @keyframes move-birdseven {
                0% {transform: translateY(-120rem);}
                100%{transform: translateY(-40rem);}
            }

            @keyframes move-birds {
                0% {transform: translateY(100rem);}
                100%{transform: translateY(-12rem);}
            }
        }
        .right {
            padding-top: 20rem;
            .cta {
                // a::before {
                //     content: "";
                //     display: block;
                //     position: absolute;
                //     width: 11rem;
                //     height: 4.5rem;
                //     top: 0;
                //     right: 0;
                //     border-radius: 79% 21% 73% 27% / 50% 72% 28% 50%;
                //     border: 2px solid $primary-color;
                // }
                a:hover:before {
                    top: 0;
                    right: 0;
                    transition: all 0.3s ease-in-out;
                }
            }
        }
    }

    /*===== Works =====*/
    .work {
        background-color: $primary-color;
        h2 {
                color: $text-color-wt
            }
        .card {        
            @include card-grid-lg(10%);
            margin: 5.5rem auto;
            h3 {
                text-align: left;
                color: $text-color-wt
                }
            .display-vid {
                    grid-column: 1 / 7;
                    grid-row: 1 / 4;
                }
            .accordion-btn{
                text-align: center;
                background-color: transparent;
                box-shadow: none;
                grid-column: 6 / 12;
                grid-row: 1 / 2;
                .icon {
                    display: none;
                }
                
            }            
            .content {
                grid-column: 7 / 13;
                grid-row: 2 / 4;
                background-color: transparent;
                box-shadow: none;
                display: block;
                .description {
                    background-color: $secondary-color;
                    box-shadow: -2px 9px 7px -4px rgba(0, 0, 0, 0.19);
                        -webkit-box-shadow: -2px 9px 7px -4px rgba(0, 0, 0, 0.19);
                        -moz-box-shadow: -2px 9px 7px -4px rgba(0,0, 0, 0.19);
                }
            }
        }
    }

    /* ===== Connect ===== */
    .connect-container {
       flex-direction: row;
       .col {
        flex-basis: 50%;
        max-width: 50%;
        
        }
    }

    /* ===== Footer ===== */
    .footer {
        .content{
            flex-direction: row;
            .socials {
                width: auto;
                justify-content: center;
                margin-top: 0;
                display: block;
                .fa-brands {
                    color: $secondary-color;
                    font-size: 2.5rem;
                    margin-left: 2rem;
                }
            }
            .copyright {
                margin-right: 2rem;
            }
            .pipe {
                display: block;
            }
        }
        
    }
    
}

@media (min-width: 1024px) {
    .bnr {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1000px;
        margin: 0 auto;
        
        .left{
            .birds {
                transform: translateY(0);
            }

            .birds-even {
                transform: translateY(-31rem);
            }

            @keyframes move-birdseven {
                0% {transform: translateY(-120rem);}
                100%{transform: translateY(-31rem);}
            }

            @keyframes move-birds {
                0% {transform: translateY(100rem);}
                100%{transform: translateY(0rem);}
            }
        }
        .right {
            padding-top: 0;
            h1 {
                font-size: 6.4rem;
            }
        }
    }

    .work {
        .container {
            max-width: 1600px;
        }
    }
}

@media (min-width: 1500px) {
    .work {
        .card {
            .content {
                .description {
                    padding: 5rem 10rem; 
                }
            }
        }
    }
}