@import 'variables';

@mixin flex($display, $justify, $align) {
    display: $display;
    justify-content: $justify;
    align-items: $align;
}

.form-style {
    border: none;
    padding: 1rem 2rem;
    color: #004643;
    font-family: "Oxygen", sans-serif;
}

@mixin button-style {
    font-weight: 600;
    font-size: 1.4rem;
    border: 3px solid $secondary-color;
    background-color: transparent;
    color: $text-color-dk;
    padding: 1rem 3.5rem;
    border-radius: 100px;
    // border-top-left-radius: 20% 70%;
    // border-top-right-radius: 20% 70%;
    // border-bottom-right-radius: 20% 70%;
    // border-bottom-left-radius: 20% 70%;
    transition: all 0.3s ease-in-out;
}

@mixin button-hover-style {
    color: $accent-color;
    border: 3px solid $accent-color;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}
