$primary-color: #004643;
$secondary-color: #F2F7F5;
$accent-color: #FFA8BA;
$text-color-dk: #004643;
$text-color-wt: #F2F7F5;

$heading-font: kigelia-lgc,
    sans-serif;
$body-font: 'Oxygen',
    sans-serif;