// $primary-color: #004643;
// $secondary-color: #F2F7F5;
// $accent-color: #FFA8BA;
// $text-color-dk: #004643;
// $text-color-lt: #F2F7F5;

$primary-color: #F2F7F5;
$secondary-color: #004643;
$accent-color: #FFA8BA;
$text-color-dk: #004643;
$text-color-lt: #F2F7F5;

$heading-font: proxima-nova, sans-serif;
$body-font: 'Oxygen',
    sans-serif;