@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
@import url("https://use.typekit.net/mus6lse.css");
@import url("https://use.typekit.net/mus6lse.css");
.form-style, .connect .form-container .form input[type=text],
.connect .form-container .form input[type=email],
.connect .form-container .form input[type=subject] {
  border: none;
  padding: 1rem 2rem;
  color: #004643;
  font-family: "Oxygen", sans-serif;
}

/*===== Global styles =====*/
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-width: 100%;
  width: 100%;
  font-family: "Oxygen", sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
  font-weight: 400;
  color: #F2F7F5;
  background-color: #F2F7F5;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

img {
  width: 100%;
}

section {
  padding-top: 9rem;
}

.row-rev {
  flex-direction: row-reverse;
}

.bg-repeat {
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.section-heading {
  font-size: 5rem;
  font-family: proxima-nova, sans-serif;
  text-align: center;
  margin-bottom: 3rem;
}

.active,
.accordion-btn:hover {
  background-color: #ccc;
}

/*===== Navigation =====*/
.header {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  will-change: top;
  padding: 1.5rem;
  background-color: #004643;
  transition: top .3s ease-in-out;
  /*===== Burger Menu =====*/
}
.header .logo img {
  width: 6rem;
  padding-left: 1rem;
}
.header .gn {
  display: none;
  position: absolute;
  top: 4.5rem;
  left: 0;
  color: #F2F7F5;
  background-color: #004643;
  width: 100%;
}
.header .gn a {
  color: #F2F7F5;
}
.header .gn li:last-child {
  border: none;
}
.header .gn-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header .gn-items li {
  font-size: 1.6rem;
  font-weight: 400;
  color: #F2F7F5;
  position: relative;
  text-align: center;
  padding: 2.5rem 0;
}
.header .gn-trigger {
  position: relative;
  width: 5rem;
  height: 3rem;
  border: none;
  background: transparent;
  cursor: pointer;
}
.header .burger {
  position: absolute;
  align-items: center;
  width: 3rem;
  height: 3rem;
  color: #F2F7F5;
  font-weight: 300;
  top: 0;
  right: 2.5rem;
}
.header .burger .icon {
  font-size: 3rem;
  margin-right: auto;
  transition: all 0.3s ease-in-out;
}
.header .gn-trigger.is-active .burger .icon {
  transform: rotateX(180deg);
  transition: all 0.3s ease-in-out;
}
.header .gn-trigger.is-active,
.header .burger {
  transition: all 0.25s linear;
}

/*===== Header =====*/
header.header-up {
  top: -18rem;
  box-shadow: none;
}

/*===== Main =====*/
.main {
  background-color: #004643;
}

/*===== Homepage Banner =====*/
.bnr {
  width: 100%;
  margin: 5rem auto;
  padding: 11rem 0 0;
  background-position-y: top;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.bnr .left {
  width: 100%;
  height: 50vh;
  padding-top: 10rem;
  display: flex;
  justify-content: center;
}
.bnr .left img {
  width: 70%;
}
.bnr .right {
  margin-right: 1.5rem;
  text-align: center;
  padding: 3.5rem 0 3.5rem 1.5rem;
}
.bnr .right h1 {
  font-size: 5.6rem;
  font-family: proxima-nova, sans-serif;
  font-weight: 600;
  margin-bottom: 2rem;
}
.bnr .right h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 5.5rem;
}
.bnr .right h3 {
  font-size: 2.8rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
.bnr .right .cta {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bnr .right .cta a {
  color: #004643;
  font-weight: 600;
  border: 3px solid #F2F7F5;
  background-color: #FFA8BA;
  position: absolute;
  padding: 1rem 3.5rem;
  border-top-left-radius: 20% 70%;
  border-top-right-radius: 20% 70%;
  border-bottom-right-radius: 20% 70%;
  border-bottom-left-radius: 20% 70%;
  transition: all 0.3s ease-in-out;
}

/*===== Work =====*/
.work {
  padding-top: 5rem;
  margin-top: 0;
  background-color: #004643;
  color: #F2F7F5;
}
.work .container {
  width: 100%;
  margin: 0 auto;
}
.work .card {
  width: 100%;
}
.work .card h3 {
  font-size: 2.4rem;
  color: #004643;
}
.work .card p {
  margin-bottom: 2.5rem;
}
.work .card .display-vid {
  height: auto;
  min-height: 40vh;
  background-color: #004643;
  display: flex;
  justify-content: center;
  align-items: center;
}
.work .card .display-vid .image {
  display: block;
}
.work .card .display-vid .vid {
  display: none;
}
.work .card .accordion-btn {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 2rem 3rem;
  background-color: #F2F7F5;
  box-shadow: -2px 9px 7px -4px rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: -2px 9px 7px -4px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: -2px 9px 7px -4px rgba(0, 0, 0, 0.19);
}
.work .card .accordion-btn .icon {
  font-size: 3.5rem;
  color: #004643;
  transition: all 0.3s ease-in-out;
}
.work .card .accordion-btn.active .icon {
  transform: rotate(180deg);
  transition: all 0.3s ease-in-out;
}
.work .card .content {
  display: none;
  background-color: #F2F7F5;
  color: #004643;
}
.work .card .content .description {
  margin: 0 auto;
  padding: 3rem 8rem 3rem 5rem;
  box-shadow: -2px 9px 7px -4px rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: -2px 9px 7px -4px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: -2px 9px 7px -4px rgba(0, 0, 0, 0.19);
}
.work .card .content .description .ftr {
  display: grid;
  grid-template-columns: [first] 50% [line2] auto [line3] 50% [end];
}
.work .card .content .description .ftr .skills {
  grid-column-start: 1;
  grid-column-end: 2;
}
.work .card .content .description .ftr .links {
  font-size: 1.5rem;
  grid-column-start: 3;
  grid-column-end: 4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.work .card .content .description .ftr .links .git-link {
  margin-left: 1.5rem;
}
.work .card .content .description .ftr .links a {
  color: #004643;
}

/*===== About =====*/
.about {
  width: 100%;
}
.about .panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 5rem auto;
  padding: 0 4.5rem;
}
.about .panel .img {
  width: 100%;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
}
.about .panel .img img {
  width: 80%;
  border-radius: 48% 52% 68% 32% / 50% 50% 50% 50%;
}
.about .panel .img.me {
  background-image: url(../images/about/about-bg1.svg);
}
.about .panel .img.cat {
  background-image: url(../images/about/about-bg2.svg);
}
.about .game {
  width: 85%;
  margin: 0 auto;
  padding: 5rem 2rem;
  border-radius: 0.5rem;
  border: 0.6rem solid #FFA8BA;
  background-color: #004643;
  color: #F2F7F5;
  text-align: center;
  box-shadow: -20px 20px 10px -6px rgba(20, 20, 20, 0.2);
}
.about .game h3 {
  font-size: 2.4rem;
  margin-bottom: 2.5rem;
}
.about .game p {
  margin-top: 2rem;
}
.about .game .instructions-desk {
  display: none;
}
.about .game .container {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}
.about .game .container .droppable {
  display: none;
}
.about .game .container .word-bank {
  width: 80%;
}
.about .game .container .word-bank .draggable-item {
  border-radius: 0.4rem;
  border: 0.1rem solid #F2F7F5;
  padding: 2rem 2rem;
  margin-bottom: 1.5rem;
}

/*===== Connect =====*/
.connect {
  background-color: #F2F7F5;
  color: #004643;
}
.connect .connect-container {
  max-width: 60%;
  margin: 0 auto;
  padding: 2rem 3rem 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  position: relative;
  text-align: center;
}
.connect .connect-container .content .sec-header {
  font-size: 3.6rem;
  font-weight: 500;
  margin-bottom: 2.5rem;
  font-family: proxima-nova, sans-serif;
}
.connect .connect-container .content p {
  font-size: 2rem;
}
.connect .connect-container .image::after, .connect .connect-container .image::before {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  border: 3px #FFA8BA solid;
  border-radius: 48% 52% 68% 32% / 50% 50% 50% 50%;
}
.connect .connect-container .image {
  width: 100%;
  position: relative;
  margin: 3rem 0;
}
.connect .connect-container .image::before {
  bottom: -1rem;
  transform: rotate(180deg);
}
.connect .connect-container .image::before {
  bottom: 1.5rem;
  transform: rotate(4deg);
}
.connect .connect-container img {
  width: 100%;
  border-radius: 59% 41% 45% 55% / 30% 40% 60% 70%;
}
.connect .connect-container .triangle {
  position: absolute;
  bottom: -14rem;
  width: 15rem;
  height: 20rem;
  background-image: url(../images/connect/triangle.svg);
  border-radius: 1.5rem;
  z-index: 10;
}
.connect .form-container {
  background-color: #004643;
  padding-top: 20rem;
  padding-bottom: 6rem;
}
.connect .form-container .error-msg {
  color: #F2F7F5;
  text-align: center;
}
.connect .form-container .form {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-width: 25rem;
  max-width: 60rem;
}
.connect .form-container .form input[type=text],
.connect .form-container .form input[type=email],
.connect .form-container .form input[type=subject] {
  width: 80%;
  margin: 0.5rem auto;
  border-radius: 2rem;
  background-color: #F2F7F5;
}
.connect .form-container .form input[type=submit] {
  cursor: pointer;
  width: 20%;
  min-width: 10.7rem;
  padding: 1rem 3.5rem;
  border-top-left-radius: 20% 70%;
  border-bottom-right-radius: 20% 70%;
  font-size: 1.4rem;
  min-width: 7.5rem;
  margin: 2rem auto;
  border: 2px solid #FFA8BA;
  background: #F2F7F5;
  color: #004643;
  transition: all 0.3s ease-in-out;
}
.connect .form-container .form input[type=submit]:disabled {
  background-color: #ccc;
  color: #fff;
  padding: 1rem 3.5rem;
  border-top-left-radius: 20% 70%;
  border-bottom-right-radius: 20% 70%;
  cursor: default;
  min-width: 10.7rem;
}
.connect .form-container .form textarea {
  width: 80%;
  resize: none;
  background-color: #F2F7F5;
  border-radius: 1.5rem;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-family: "Oxygen", sans-serif;
  margin: 0.5rem auto;
}
.connect .form-container .form .g-recaptcha {
  margin: 2.5rem auto;
}
.connect .form-container .btn {
  width: 20%;
  margin: 2rem auto;
}
.connect .form-container .btn a {
  padding: 1rem 3.5rem;
  border-top-left-radius: 20% 70%;
  border-bottom-right-radius: 20% 70%;
  font-size: 1.4rem;
  margin: 0 auto;
  border: 2px solid #F2F7F5;
  background: #F2F7F5;
  color: #004643;
  transition: all 0.3s ease-in-out;
}

.footer {
  background-color: #004643;
  color: #F2F7F5;
  padding: 2rem;
  margin: 0 auto;
}
.footer .content {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer .content .socials {
  width: 20rem;
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
.footer .content .socials .fa-brands {
  color: #F2F7F5;
  font-size: 2.5rem;
}
.footer .content .pipe {
  display: none;
}

/*# sourceMappingURL=main.css.map */
