@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
@import url("https://use.typekit.net/mus6lse.css");
/* Variables */
/*===== Global styles =====*/
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-width: 100%;
  width: 100%;
  font-family: "Oxygen", sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
  font-weight: 400;
  color: #434343;
  background-color: #E8E7E2;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

img {
  width: 100%;
}

section {
  margin-top: 7rem;
}

.row-rev {
  flex-direction: row-reverse;
}

.bg-repeat {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-heading {
  font-size: 5rem;
  font-family: kigelia-lgc, sans-serif;
  text-align: center;
  margin-bottom: 3rem;
}

.active,
.accordion-btn:hover {
  background-color: #ccc;
}

/*===== Navigation =====*/
.header {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  will-change: top;
  padding: 1rem 1.5rem;
  background-color: #566A68;
  transition: top .3s ease-in-out;
  /*===== Burger Menu =====*/
}
.header .logo img {
  width: 5rem;
}
.header .gn {
  display: none;
  position: absolute;
  top: 4.5rem;
  left: 0;
  color: #E8E7E2;
  background-color: #566A68;
  width: 100%;
}
.header .gn a {
  color: #E8E7E2;
}
.header .gn li:last-child {
  border: none;
}
.header .gn-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header .gn-items li {
  font-size: 1.6rem;
  font-weight: 400;
  color: #E8E7E2;
  position: relative;
  text-align: center;
  padding: 2.5rem;
}
.header .gn-trigger {
  position: relative;
  width: 5rem;
  height: 3rem;
  border: none;
  background: transparent;
}
.header .burger {
  position: absolute;
  align-items: center;
  width: 5rem;
  height: 3rem;
  color: #E8E7E2;
  font-weight: 300;
  top: 0;
  right: 0;
}
.header .burger:before,
.header .burger:after {
  content: '';
  display: block;
  position: absolute;
  background: #E8E7E2;
  width: 1.8rem;
  height: .3rem;
  top: -1.7rem;
}
.header .burger:before {
  right: 4.2rem;
  top: 1.3rem;
  transform: rotate(35deg);
}
.header .burger:after {
  left: .4rem;
  transform: rotate(-35deg);
  top: 1.3rem;
}
.header .burger,
.header .burger::before,
.header .burger::after {
  /* transition-property: transform, top, background;
  transition-duration: 0.35s; */
  transition: all 0.25s linear;
}
.header .gn-trigger.is-active,
.header .burger {
  transition: all 0.25s linear;
}

/*===== Header =====*/
header.header-up {
  top: -18rem;
  box-shadow: none;
}

/*===== Main =====*/
.main {
  background-color: #E8E7E2;
}

/*===== Homepage Banner =====*/
.bnr {
  width: 100%;
  height: 60vh;
  margin: 5rem auto;
  padding: 11rem 0 0;
  background-color: #E8E7E2;
  background-image: url(../images/banner-bg.png);
  background-position-y: top;
  overflow: hidden;
}
.bnr .left {
  display: none;
}
.bnr .right {
  margin-right: 1.5rem;
  text-align: center;
  padding: 3.5rem 0 3.5rem 1.5rem;
}
.bnr .right h1 {
  font-size: 5.6rem;
  font-family: kigelia-lgc, sans-serif;
  font-weight: 600;
  margin-bottom: 2rem;
}
.bnr .right h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 5.5rem;
}
.bnr .right h3 {
  font-size: 2.8rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
.bnr .right .cta {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bnr .right .cta a {
  color: #E8E7E2;
  background-color: #566A68;
  position: absolute;
  padding: 1.5rem 2.5rem;
  border-radius: 79% 21% 73% 27% / 50% 72% 28% 50%;
  transition: all 0.3s ease-in-out;
}
.bnr .right .cta a::before {
  content: "";
  display: block;
  position: absolute;
  width: 11rem;
  height: 4.5rem;
  top: 1rem;
  right: 1rem;
  border-radius: 79% 21% 73% 27% / 50% 72% 28% 50%;
  border: 2px solid #566A68;
  transition: all 0.3s ease-in-out;
}

/*===== Work =====*/
.work {
  padding-top: 5rem;
  margin-top: 0;
}
.work .container {
  width: 100%;
  margin: 0 auto;
}
.work .card {
  width: 100%;
}
.work .card h3 {
  font-size: 2.4rem;
}
.work .card p {
  margin-bottom: 2.5rem;
}
.work .card .display-vid {
  height: auto;
  min-height: 40vh;
  background-color: #566A68;
  display: flex;
  justify-content: center;
  align-items: center;
}
.work .card .display-vid .vid {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.work .card .accordion-btn {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 2rem 3rem;
  background-color: #E8E7E2;
  box-shadow: -2px 9px 7px -4px rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: -2px 9px 7px -4px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: -2px 9px 7px -4px rgba(0, 0, 0, 0.19);
}
.work .card .accordion-btn .icon {
  font-size: 2rem;
}
.work .card .content {
  display: none;
  background-color: #E8E7E2;
}
.work .card .content .description {
  margin: 0 auto;
  padding: 3rem 8rem 3rem 5rem;
  box-shadow: -2px 9px 7px -4px rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: -2px 9px 7px -4px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: -2px 9px 7px -4px rgba(0, 0, 0, 0.19);
}
.work .card .content .description .ftr {
  display: grid;
  grid-template-columns: [first] 50% [line2] auto [line3] 50% [end];
}
.work .card .content .description .ftr .skills {
  grid-column-start: 1;
  grid-column-end: 2;
}
.work .card .content .description .ftr .links {
  font-size: 1.5rem;
  grid-column-start: 3;
  grid-column-end: 4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.work .card .content .description .ftr .links .git-link {
  margin-left: 1.5rem;
}
.work .card .content .description .ftr .links a {
  color: #566A68;
}

/*===== About =====*/
.about {
  width: 100%;
}
.about .about-me {
  width: 80%;
  margin: 5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about .about-me .img {
  width: 70%;
  position: relative;
  background-color: #566A68;
  border: solid #566A68 2px;
  margin-bottom: 4rem;
  border-radius: 29% 71% 48% 52% / 50% 50% 50% 50%;
}
.about .about-me .img img {
  width: 100%;
  margin: 0 auto;
  clip-path: circle(50%);
}
.about .about-me .img::after {
  position: absolute;
  bottom: -1.5rem;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  border: 2px #566A68 solid;
  transform: rotate(-45deg);
  border-radius: 48% 52% 68% 32% / 50% 50% 50% 50%;
}
.about .about-me .img::before {
  position: absolute;
  bottom: -1rem;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  border: 2px #566A68 solid;
  border-radius: 53% 83% 98% 57% / 38% 50% 55% 65%;
  transform: rotate(45deg);
}
.about .get-to-know {
  width: 80%;
  margin: 0 auto;
  padding: 3rem;
  background-color: #566A68;
  color: #E8E7E2;
}
.about .get-to-know h3 {
  font-size: 2.4rem;
  margin-bottom: 2.5rem;
  text-align: center;
}
.about .get-to-know .terms {
  width: 50%;
  margin: 3rem auto;
}
.about .get-to-know .terms .tile {
  text-align: center;
  padding: 1.5rem;
  border: 1px solid #E8E7E2;
  border-radius: 62% 38% 39% 61% / 25% 55% 45% 75%;
  margin: 2rem;
}
.about .get-to-know .terms .tile.rev {
  border-radius: 75% 25% 83% 17% / 61% 77% 23% 39%;
}

/*===== Connect =====*/
.connect-container {
  max-width: 80%;
  margin: 0 auto;
  padding: 6rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.connect-container .image::after, .connect-container .image::before {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  border: 2px #566A68 solid;
  border-radius: 48% 52% 68% 32% / 50% 50% 50% 50%;
}
.connect-container .image {
  width: 100%;
  position: relative;
  margin: 6rem 0;
}
.connect-container .image::before {
  bottom: -1rem;
  transform: rotate(180deg);
}
.connect-container .image::before {
  bottom: 1.5rem;
  transform: rotate(4deg);
}
.connect-container img {
  width: 100%;
  border-radius: 59% 41% 45% 55% / 30% 40% 60% 70%;
}
.connect-container .triangle {
  position: absolute;
  bottom: 0;
  content: "";
  width: 0;
  height: 0;
  border-left: 10rem solid transparent;
  border-right: 10rem solid transparent;
  border-top: 20rem solid red;
  border-radius: 1.5rem;
}

.form-container {
  background-color: #566A68;
  padding: 6rem 3rem;
}
.form-container .form {
  display: flex;
  flex-direction: column;
  min-width: 30rem;
  max-width: 60rem;
  margin: 0 auto;
}
.form-container .form input[type=text],
.form-container .form input[type=email],
.form-container .form input[type=subject] {
  width: 100%;
  background-color: #E8E7E2;
  border-radius: 2rem;
  border: none;
  padding: 1rem 2rem;
  margin: 0.5rem auto;
  font-family: "Oxygen", sans-serif;
}
.form-container .form textarea {
  width: 100%;
  resize: none;
  background-color: #E8E7E2;
  border-radius: 1.5rem;
  padding: 1rem 2rem;
  font-family: "Oxygen", sans-serif;
  margin-top: 0.5rem;
}

.footer {
  background-color: #566A68;
  color: #E8E7E2;
  padding: 2rem;
  margin: 0 auto;
}
.footer .content {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer .content .socials {
  width: 20rem;
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
.footer .content .socials .fa-brands {
  color: #E8E7E2;
  font-size: 2.5rem;
}
.footer .content .pipe {
  display: none;
}

/*# sourceMappingURL=main.css.map */
