@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
@import url("https://use.typekit.net/mus6lse.css");
.form-style, .connect .form-container .form input[type=text],
.connect .form-container .form input[type=email],
.connect .form-container .form input[type=subject] {
  border: none;
  padding: 1rem 2rem;
  color: #004643;
  font-family: "Oxygen", sans-serif;
}

/*===== Global styles =====*/
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-width: 100%;
  width: 100%;
  font-family: "Oxygen", sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
  font-weight: 400;
  color: #004643;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

img {
  width: 100%;
}

section {
  padding-top: 9rem;
}

.row-rev {
  flex-direction: row-reverse;
}

.bg-repeat {
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.section-heading {
  font-size: 5rem;
  font-family: proxima-nova, sans-serif;
  text-align: center;
  margin-bottom: 7rem;
  font-weight: 700;
}

.active,
.accordion-btn:hover {
  background-color: #FFA8BA;
}

/*===== Navigation =====*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  will-change: top;
  padding: 1rem 1.5rem;
  background-color: #F2F7F5;
  transition: top 0.3s ease-in-out;
  /*===== Burger Menu =====*/
}
.header .logo .logo-link {
  display: block;
}
.header .logo .logo-link img {
  height: 5rem;
}
.header .gn {
  display: none;
  position: absolute;
  top: 4.5rem;
  left: 0;
  background-color: #F2F7F5;
  border-bottom: solid 3px #004643;
  width: 100%;
}
.header .gn a {
  color: #004643;
}
.header .gn li:last-child {
  border: none;
}
.header .gn-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header .gn-items li {
  font-size: 1.6rem;
  font-weight: 400;
  color: #004643;
  position: relative;
  text-align: center;
  padding: 2.5rem 0;
}
.header .gn-trigger {
  position: relative;
  width: 5rem;
  height: 3rem;
  border: none;
  background: transparent;
  cursor: pointer;
}
.header .burger {
  position: absolute;
  align-items: center;
  width: 3rem;
  height: 3rem;
  color: #004643;
  font-weight: 300;
  top: 0;
  right: 2.5rem;
}
.header .burger .icon {
  font-size: 3rem;
  margin-right: auto;
  transition: all 0.3s ease-in-out;
}
.header .gn-trigger.is-active .burger .icon {
  transform: rotateX(180deg);
  transition: all 0.3s ease-in-out;
}
.header .gn-trigger.is-active,
.header .burger {
  transition: all 0.25s linear;
}

/*===== Header =====*/
header.header-up {
  top: -18rem;
  box-shadow: none;
}

/*===== Main =====*/
.main {
  background-color: #F2F7F5;
}

/*===== Homepage Banner =====*/
.bnr {
  width: 100%;
  margin: 0 auto;
  padding-top: 10rem;
  height: 100vh;
  background-position-y: top;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  flex-direction: column-reverse;
}
.bnr .left {
  width: 100%;
  height: 35vh;
  display: flex;
  justify-content: center;
}
.bnr .left img {
  width: 100%;
}
.bnr .right {
  margin-right: 1.5rem;
  text-align: center;
  padding: 3.5rem 0 3.5rem 1.5rem;
}
.bnr .right h1 {
  font-size: 5.6rem;
  font-family: proxima-nova, sans-serif;
  font-weight: 600;
  margin-bottom: 2rem;
}
.bnr .right h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 5.5rem;
}
.bnr .right h3 {
  font-size: 2.8rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
.bnr .right .cta {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
}
.bnr .right .cta a {
  font-weight: 600;
  font-size: 1.4rem;
  border: 3px solid #004643;
  background-color: transparent;
  color: #004643;
  padding: 1rem 3.5rem;
  border-radius: 100px;
  transition: all 0.3s ease-in-out;
  position: absolute;
}

/*===== Work =====*/
.work {
  padding-top: 5rem;
  margin-top: 0;
  background-color: #F2F7F5;
  color: #004643;
}
.work .container {
  width: 100%;
  margin: 0 auto;
}
.work .card.supu img {
  width: 50%;
}
.work .card.perkhero img {
  width: 80%;
}
.work .card {
  margin: 0 auto 2rem;
  width: 100%;
}
.work .card h3 {
  font-size: 2rem;
  font-weight: 700;
  color: #004643;
}
.work .card p {
  margin-bottom: 2rem;
  font-size: 1.6rem;
}
.work .card .display-vid {
  height: auto;
  min-height: 40vh;
  background-color: #F2F7F5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.work .card .display-vid .image {
  display: block;
}
.work .card .accordion-btn {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1rem 2rem;
  font-family: proxima-nova, sans-serif;
  background-color: #F2F7F5;
  border-bottom: 1px #004643;
}
.work .card .accordion-btn .icon {
  font-size: 2.5rem;
  color: #004643;
  transition: all 0.3s ease-in-out;
}
.work .card .accordion-btn.active .icon {
  transform: rotate(180deg);
  transition: all 0.3s ease-in-out;
}
.work .card .content {
  display: none;
  background-color: #F2F7F5;
  color: #004643;
  padding: 2.5rem 0;
}
.work .card .content .description {
  margin: 0 auto;
  width: 80%;
}
.work .card .content .description h4 {
  font-weight: 700;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.work .card .content .description ul {
  margin-bottom: 2rem;
  font-size: 1.6rem;
}
.work .card .content .description a {
  color: #F2F7F5;
}
.work .card .content .ftr {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 0;
}
.work .card .content .ftr .web-link .icon,
.work .card .content .ftr .git-link .icon {
  font-size: 3rem;
  color: #004643;
}

/*===== Artifact Page =====*/
.artifact-page {
  line-height: 1.5;
}
.artifact-page .main {
  padding-top: 10rem;
}
.artifact-page .main section {
  padding: 5rem 1rem 0;
  max-width: 35rem;
  margin: 0 auto;
}
.artifact-page .main section p {
  padding-top: 2rem;
}
.artifact-page .main h2 {
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 2rem;
}
.artifact-page .main img {
  padding-top: 2rem;
}
.artifact-page .main .intro-img {
  padding-top: 5rem;
  display: flex;
  justify-content: center;
}
.artifact-page .main .intro-img .eg-logo {
  width: 65%;
}
.artifact-page .main .brand-img .brand-img-heading {
  padding-top: 5rem;
}
.artifact-page .main .prototype-embed {
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  align-items: center;
}
.artifact-page .main .prototype-embed iframe {
  margin: 0 auto;
}
.artifact-page .main .wireframe-img {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.artifact-page .main .wireframe-img .wireframes-1, .artifact-page .main .wireframe-img .wireframes-2 {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.artifact-page .main ol {
  padding-left: 2.5rem;
}
.artifact-page .main ol li {
  list-style-type: decimal;
}
.artifact-page .main .intro h1 {
  font-size: 2.8rem;
  font-weight: 700;
}
.artifact-page .main .overview .link {
  padding-bottom: 2rem;
}
.artifact-page .main .overview .link a {
  color: #004643;
}
.artifact-page .main .overview .list {
  padding-top: 2rem;
}
.artifact-page .main .overview .list ol {
  padding-top: 2rem;
  font-size: 1.4rem;
  line-height: 2;
}
.artifact-page .main .overview .list ol a {
  color: #004643;
}
.artifact-page .main .overview .list ol a:hover {
  color: #FFA8BA;
}
.artifact-page .main .takeaways {
  padding-bottom: 5rem;
}
.artifact-page .main .peace-link {
  transform: scale(1);
}
.artifact-page .main .peace-link .peace {
  width: 10%;
  margin: 0 auto;
  display: flex;
  padding-bottom: 3rem;
  transition: all 0.3s ease-in-out;
}
.artifact-page .main .peace:hover {
  transform: scale(1.1);
}

/*===== About =====*/
.about {
  width: 100%;
}
.about .panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 5rem auto;
  padding: 0 4.5rem 7rem;
}
.about .panel .img {
  width: 100%;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
}
.about .panel .img img {
  border-radius: 6px;
  padding: 2rem;
  width: 95%;
  max-width: 40rem;
  border: 4px solid #FFA8BA;
}
.about .panel .content p {
  margin-bottom: 2.5rem;
}
.about .game {
  width: 85%;
  margin: 0 auto;
  padding: 5rem 2rem;
  border-radius: 0.5rem;
  border: 0.6rem solid #FFA8BA;
  background-color: #F2F7F5;
  color: #004643;
  text-align: center;
  box-shadow: -20px 20px 10px -6px rgba(20, 20, 20, 0.2);
}
.about .game h3 {
  font-size: 2.4rem;
  margin-bottom: 2.5rem;
}
.about .game p {
  margin-top: 2rem;
}
.about .game .instructions-desk {
  display: none;
}
.about .game .container {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}
.about .game .container .droppable {
  display: none;
}
.about .game .container .word-bank {
  width: 80%;
}
.about .game .container .word-bank .draggable-item {
  border-radius: 0.4rem;
  border: 0.1rem solid #004643;
  padding: 2rem 2rem;
  margin-bottom: 1.5rem;
}

/*===== Connect =====*/
.connect {
  background-color: #004643;
  color: #F2F7F5;
}
.connect .connect-container {
  max-width: 70%;
  margin: 0 auto;
  padding: 2rem 3rem 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  position: relative;
  text-align: center;
}
.connect .connect-container .content .sec-header {
  font-size: 3.6rem;
  font-weight: 500;
  margin-bottom: 2.5rem;
  font-family: proxima-nova, sans-serif;
}
.connect .connect-container .content p {
  font-size: 2rem;
}
.connect .connect-container .image {
  width: 80%;
  position: relative;
  margin: 3rem 0;
}
.connect .connect-container img {
  border-radius: 6px;
  padding: 2rem;
  width: 95%;
  max-width: 40rem;
  border: 4px solid #FFA8BA;
}
.connect .connect-container .triangle {
  position: absolute;
  bottom: -14rem;
  width: 15rem;
  height: 20rem;
  background-image: url(../images/connect/triangle.svg);
  border-radius: 1.5rem;
  z-index: 10;
}
.connect .form-container {
  background-color: #F2F7F5;
  padding-top: 20rem;
  padding-bottom: 6rem;
}
.connect .form-container .graphic {
  display: none;
}
.connect .form-container .error-msg-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.connect .form-container .error-msg-wrap .error-msg {
  color: #004643;
  text-align: center;
  font-size: 2.5rem;
}
.connect .form-container .error-msg-wrap .btn {
  width: 100%;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.connect .form-container .error-msg-wrap .btn a {
  font-weight: 600;
  font-size: 1.4rem;
  border: 3px solid #004643;
  background-color: transparent;
  color: #004643;
  padding: 1rem 3.5rem;
  border-radius: 100px;
  transition: all 0.3s ease-in-out;
  margin: 0 auto;
}
.connect .form-container .form {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-width: 25rem;
  max-width: 60rem;
}
.connect .form-container .form input[type=text],
.connect .form-container .form input[type=email],
.connect .form-container .form input[type=subject] {
  width: 80%;
  margin: 0.5rem auto;
  border-radius: 2rem;
  background-color: #F2F7F5;
}
.connect .form-container .form input[type=submit] {
  cursor: pointer;
  width: 10%;
  min-width: 10.7rem;
  margin: 2rem auto;
  font-weight: 600;
  font-size: 1.4rem;
  border: 3px solid #004643;
  background-color: transparent;
  color: #004643;
  padding: 1rem 3.5rem;
  border-radius: 100px;
  transition: all 0.3s ease-in-out;
}
.connect .form-container .form input[type=submit]:disabled {
  background-color: #ccc;
  color: #fff;
  cursor: default;
}
.connect .form-container .form textarea {
  width: 80%;
  resize: none;
  background-color: #F2F7F5;
  border-radius: 1.5rem;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-family: "Oxygen", sans-serif;
  margin: 0.5rem auto;
}
.connect .form-container .form .g-recaptcha {
  margin: 2.5rem auto;
}

.footer {
  background-color: #F2F7F5;
  color: #FFA8BA;
  padding: 2rem;
  margin: 0 auto;
}
.footer .content {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer .content .socials {
  width: 20rem;
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
.footer .content .socials .fa-brands {
  color: #FFA8BA;
  font-size: 2.5rem;
}
.footer .content .pipe {
  display: none;
}

.form-style, .connect .form-container .form input[type=text],
.connect .form-container .form input[type=email],
.connect .form-container .form input[type=subject] {
  border: none;
  padding: 1rem 2rem;
  color: #004643;
  font-family: "Oxygen", sans-serif;
}

@media (min-width: 480px) {
  .work .container .card .accordion-btn {
    padding: 2rem 3rem;
  }
  .work .container .card .accordion-btn .icon {
    font-size: 3rem;
  }
  .artifact-page .main section {
    max-width: 70rem;
    padding: 5rem 1.5rem 0;
  }
}
@media (min-width: 800px) {
  .about .about-me {
    max-width: 1000px;
  }
  .about .get-to-know {
    max-width: 775px;
  }
  .artifact-page .main section {
    max-width: 80rem;
    padding: 5rem 3.5rem 0;
  }
  .artifact-page .main .wireframe-img .wireframes-1, .artifact-page .main .wireframe-img .wireframes-2 {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 992px) {
  .header {
    justify-content: center;
    border-bottom: solid 3px #004643;
  }
  .header .gn-trigger {
    display: none;
  }
  .header .gn {
    display: block !important;
    position: static;
    border-bottom: none;
  }
  .header .gn-items {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
  }
  .header .gn-items li {
    margin-right: 3rem;
    border-bottom: none;
    font-weight: 400;
  }
  .header .gn-items li a {
    border: 3px solid #F2F7F5;
  }
  .header .gn-items li:hover a {
    width: 100%;
    height: 0%;
    color: #FFA8BA;
    border-radius: 0.4rem;
    border-bottom: 3px solid #FFA8BA;
  }
  .header .gn-items li:hover:before,
.header .gn-items li:hover:after {
    width: 1.3rem;
    height: 1.3rem;
    border-color: #FFA8BA;
  }
  .header .logo img {
    width: 8rem;
  }
  /*===== Banner =====*/
  .bnr {
    background-image: none;
    flex-direction: row;
    align-items: center;
    height: 70vh;
    padding: 10rem 0;
  }
  .bnr .col {
    flex-basis: 50%;
    max-width: 50%;
  }
  .bnr .left {
    padding-top: 0;
    height: 60vh;
    display: block;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  .bnr .right {
    padding-top: 20rem;
  }
  .bnr .right .cta a:hover {
    color: #FFA8BA;
    border: 3px solid #FFA8BA;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  /*===== Works =====*/
  .work {
    background-color: #F2F7F5;
  }
  .work .container {
    width: 90%;
  }
  .work .container h2 {
    color: #004643;
  }
  .work .container .reverse {
    flex-direction: row-reverse;
  }
  .work .container .card {
    display: flex;
    max-width: 1200px;
    margin: 10rem auto;
  }
  .work .container .card h3 {
    color: #004643;
  }
  .work .container .card p {
    font-size: 1.6rem;
  }
  .work .container .card .content-wrapper {
    position: relative;
    margin: 5.5rem auto;
    padding: 6rem 0 5rem;
    flex-basis: 45%;
    border: 5px solid #FFA8BA;
    border-radius: 0.9rem;
  }
  .work .container .card .display-vid {
    flex-basis: 55%;
  }
  .work .container .card .accordion-btn {
    cursor: auto;
    padding: 0 0 2rem;
    background-color: transparent;
    box-shadow: none;
    justify-content: center;
  }
  .work .container .card .accordion-btn h3 {
    font-size: 2.6rem;
  }
  .work .container .card .accordion-btn .icon {
    display: none;
    transition: all 0.3s ease-in-out;
  }
  .work .container .card .accordion-btn .link {
    transition: all 0.3s ease-in-out;
  }
  .work .container .card .accordion-btn .link:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
  }
  .work .container .card .content {
    background-color: transparent;
    box-shadow: none;
    display: flex;
    min-height: 315px;
    flex-direction: column;
    justify-content: space-between;
  }
  .work .container .card .content .description {
    color: #004643;
    height: 100%;
  }
  .work .container .card .content .description h4 {
    font-size: 2rem;
  }
  .work .container .card .content .description ul {
    margin-left: 2.5rem;
    font-size: 1.6rem;
  }
  .work .container .card .content .description li {
    list-style-type: circle;
  }
  .work .container .card .content .description a {
    color: #FFA8BA;
  }
  .work .container .card .content .ftr .icon {
    color: #004643;
  }
  /* ===== Artifact Page ===== */
  .artifact-page .main .img {
    max-width: 90rem;
    justify-content: center;
    align-items: center;
  }
  .artifact-page .main .overview .list ul li {
    margin-bottom: 2rem;
  }
  .artifact-page .main .overview .img {
    max-width: 35rem;
  }
  .artifact-page .main .overview .img img {
    width: 80%;
  }
  .artifact-page .main .mock-ups .supp {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
    max-width: 102rem;
  }
  .artifact-page .main .mock-ups .supp img {
    width: 80%;
  }
  .artifact-page .main .mock-ups img {
    width: 100%;
  }
  /* ===== About ===== */
  .about .panel {
    width: 85%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
  .about .panel .img img {
    width: 60%;
  }
  .about .panel .content {
    width: 80%;
  }
  .about .panel .content p {
    margin-bottom: 2.5rem;
  }
  .about .panel.panel-rev {
    flex-direction: row-reverse;
  }
  .about .game {
    width: 100%;
    margin: 0 auto;
    padding: 5rem 2rem;
    border-radius: 0.5rem;
    border: 0.6rem solid #FFA8BA;
    background-color: #F2F7F5;
    color: #004643;
    text-align: center;
    box-shadow: -20px 20px 10px -6px rgba(20, 20, 20, 0.2);
  }
  .about .game h3 {
    font-size: 2.4rem;
    margin-bottom: 2.5rem;
  }
  .about .game p {
    margin-top: 2rem;
  }
  .about .game .instructions-desk {
    display: block;
  }
  .about .game .container {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
  }
  .about .game .container .droppable {
    display: block;
  }
  .about .game .container .holder {
    flex-basis: 33.33333333%;
    margin: 0 1rem;
    border-radius: 0.4rem;
    border: 0.5rem solid #004643;
  }
  .about .game .container .word-bank .draggable-item {
    border-radius: 0.4rem;
    border: 0.1rem solid #004643;
    padding: 1rem 2rem;
  }
  .about .game .container .dislike .like-item {
    background: #FFA8BA;
  }
  .about .game .container .dislike .like-item {
    background: #FFA8BA;
  }
  /* ===== Connect ===== */
  .connect .connect-container {
    flex-direction: row-reverse;
    text-align: right;
  }
  .connect .connect-container .content {
    margin-right: 6rem;
  }
  .connect .connect-container .col {
    flex-basis: 50%;
    max-width: 50%;
  }
  .connect .error-msg-wrap .btn a:hover {
    color: #FFA8BA;
    border: 3px solid #FFA8BA;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  .connect .form-container {
    display: flex;
  }
  .connect .form-container .graphic {
    display: block;
    width: 10%;
    height: 100%;
    margin: 0 auto;
  }
  .connect .form-container .form input[type=submit]:hover {
    color: #FFA8BA;
    border: 3px solid #FFA8BA;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  .connect .form-container .form input[type=submit]:disabled:hover {
    background-color: #ccc;
    color: #fff;
    cursor: default;
  }
  /* ===== Footer ===== */
  .footer .content {
    flex-direction: row;
  }
  .footer .content .socials {
    width: auto;
    justify-content: center;
    margin-top: 0;
    display: block;
  }
  .footer .content .socials .fa-brands {
    font-size: 2.5rem;
    margin-left: 2rem;
  }
  .footer .content .copyright {
    margin-right: 2rem;
  }
  .footer .content .pipe {
    display: block;
  }
}
@media (min-width: 1024px) {
  .bnr {
    max-width: 1200px;
    margin: 0 auto;
  }
  .bnr .right {
    padding-top: 0;
    padding-left: 4rem;
  }
  .bnr .right h1 {
    font-size: 6.4rem;
  }
  .work .container {
    max-width: 1600px;
  }
  .about .panel {
    max-width: 1200px;
  }
}

/*# sourceMappingURL=media-queries.scss.map */
