.artifact h1 {
    font-size: 3rem;
    color: #35322f;
    line-height: 1.5;
}

.artifact .theme-wrapper {
    background-color: #E8E3DD;
    margin: 20rem auto;
    width: 100%;
}

.bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* ============================================== */
/*=== Local Nav ===*/
/* ============================================== */
.ln {
    display: none;
}

/* ============================================== */
/*=== Banner & Introduction ===*/
/* ============================================== */

.artifact .bnr {
    margin: 8rem 0;
}

.bnr .img {
    width: 102%;
    height:30vh;
}

.artifact .introduction {
    margin: 8rem auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 90%;
}

.artifact .introduction .content, 
.artifact .introduction .img {
    padding-bottom: 6rem;
    
}

.artifact .introduction p {
    line-height: 1.5;
}   

.artifact h2 {
    margin-bottom: 4rem;
    font-size: 2.4rem;
}

/* ============================================== */
/*=== Take a Closer Look/Features ===*/
/* ============================================== */

.artifact-slider {
    padding: 5rem 0;
    background-color: #e6ccd1e1;
    width:100%;
}

.artifact-slider .wrapper {
    width: 90%;
    margin: 0 auto;
}

.panel {
    margin: 10rem 0;
}

.intro-tagline {
    text-align: center;
}

.panel .img {
    margin-bottom: 5rem;
}

.panel h3 {
    margin-bottom: 3rem;
    text-align: center;
}

.panel .about p {
    margin-bottom: 1.5rem;
}

.artifact .panel-carousel {
    padding: 0 5rem;
    max-width: 80%;
    margin: 0 auto;
}

.artifact .panel-carousel img {
    margin: 0 auto;
    width: 100%;
}

/* ============================================== */
/*=== Dev Artifact Videos ===*/
/* ============================================== */
.artifact-dev .vid {
    width: 100%;
}

/* ============================================== */
/*=== Design Artifact styles ===*/
/* ============================================== */
.artifact-4 .panel img {
    width: 50%;
    margin: 0 auto;
}


.artifact-4 .panel .img {
    flex-basis: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.artifact-4 .panel .about {
    flex-basis: 40%;
}






