@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
@import url("https://use.typekit.net/mus6lse.css");

/* Global styles */
* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Oxygen', sans-serif;
    font-size: 1.6rem;
    line-height: 1.4;
    font-weight: 400;
    color: #35322f;
    background-color: #E8E3DD;
    overflow-x: hidden;
}

h1 {
    font-size: 2.5rem;
    font-family: kigelia-lgc, sans-serif;
    font-weight: 700;
    line-height: 0.8;
    text-align: center;
    color:#E8E3DD;
}

h2 {
    font-family: kigelia-lgc, sans-serif;
    font-size: 3rem;
    text-align: center;
}

a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}


img {
    width: 100%;
}

section {
    margin-top: 5rem;
}

.theme-wrapper {
    width: 100%;
    margin: 10rem auto;
}

.row-rev {
    flex-direction: row-reverse;
}

.bg-repeat {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ================= */
/*=== Navigation ===*/
/* ================= */

header {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    position: fixed;
    top:0;
    left:0;
    z-index: 999;
    will-change: top;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
    background-color:#42664E;
    justify-content: center;
    transition: top .3s ease-in-out;
}

.logo {
    margin-bottom: 2rem;
}


.logo h1 {
    margin-top:2.4rem;
}

.logo a {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo a:hover {
    color: #35322f;
}

.logo img {
    width: 15%;
}

.gn {
    display: none;
    color: #E8E3DD;
    background-color: #42664E;
    width: 100%;
}

.gn a {
    color: #E8E3DD;
}

.gn-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gn-items li {
    font-size: 1.6rem;
    font-weight: 400;
    color: #E8E3DD;
    position: relative;
    text-align: center;
    padding: 2rem;
    border-bottom: solid #E8E3DD 0.1rem;
}

.gn li:last-child {
    border: none;
}


/* ======================== 
Burger Menu 
==========================*/ 
.gn-trigger {
    position: relative;
    width: 2rem;
    height: 2rem;
    border: none;
    outline: 0;
    background: transparent;
}

.burger {
    position: absolute;
    align-items: center;
    width: 4rem;
    height: 4rem;
    color: #E8E3DD;
    font-weight: 300;
    top: -.9rem;
}

.burger:before, .burger:after {
    content: '';
    display: block;
    position: absolute;
    background: #E8E3DD;
    width: 1.5rem;
    height: .2rem;
    top: -1.7rem;
}

.burger:before {
    right: 2.5rem;
    top: 1.3rem;
    transform: rotate(45deg);
}

.burger:after {
    left: 1rem;
    transform: rotate(-45deg);
    top: 1.3rem;
}

.burger,
.burger::before,
.burger::after {
    /* transition-property: transform, top, background;
    transition-duration: 0.35s; */
    transition: all 0.25s linear;
}

.gn-trigger.is-active .burger:before{
    right: 2rem;
    width: 1.8rem;
    height: 0.2rem;
}

.gn-trigger.is-active .burger:after {
    left: 0.2rem;
    width: 1.8rem;
    height: 0.2rem;
}

.gn-trigger.is-active ,.burger{
    /* transition-property: transform, top, background;
    transition-duration: 0.35s; */
    /* top: 20px;*/
    transition: all 0.25s linear; 
}


/* ======================== 
Header 
==========================*/ 

header.header-up {
    top: -18rem;
    box-shadow: none;
}

.logo-link img {
    height: 5rem;
}

.logo-link {
    flex-grow: 1;
}

header .logo-link {
    display: block;
}

/* ===================== */
/*=== Homepage Banner ===*/
/* ===================== */

.home .bnr {
    width: 100%;
    margin: 0 auto 10rem;
    padding-top: 18rem;
    max-height: 80rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #42664E;
}

.home .bnr .col {
    text-align: center;
}

.home .bnr .bird-mobile img {
    width: 25%;
}

.home .bnr .right {
    width: 100%;
    color:#E8E3DD;
    font-family: kigelia-lgc, sans-serif;
    padding-bottom: 8rem;
    background-color: #42664E;
}

.home .bnr .right h3 {
    font-size: 1.8rem;
    margin: 2.5rem;
}

.home .bnr .right h2 {
    font-size: 2.6rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.home .bnr .right p {
    font-family: 'Oxygen', sans-serif;
    font-size: 1.6rem;
}

.home .cta a {
    color:#E8E3DD;
    background-color: transparent;
    border: #E8E3DD solid 1px;
    padding: 1.5rem 1rem;
    font-size: 1.4rem;
    transition: all 0.4s ease-in;
}

.home .cta a:hover {
    color:#42664E;
    background-color: #E8E3DD;
    border: #42664E solid 1px;
    padding: 1.5rem 1rem;
    
    
}

.home .cta {
    margin-top: 4rem;
}

.birds-even, .birds {
    display: none;
}

/* ============================================== */
/*=== Development/Design Project Cards ===*/
/* ============================================== */
.projects {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects h2 {
    font-family: kigelia-lgc, sans-serif; 
    font-size: 3rem;
    font-weight: 700;
    padding: 1rem 2rem;
    position: relative;
}

.projects h2:before,
.projects h2:after {
    transition: all 0.3s ease;
    position: absolute;
    content: "";
    width: 1.3rem;
    height: 1.3rem;
}

.projects h2:before {
    right: 0;
    bottom: 0;
    border-bottom: 3px solid #35322f;
    border-right: 3px solid #35322f;
}

.projects h2:after {
    left: 0;
    top: 0;
    border-top: 3px solid #35322f;
    border-left: 3px solid #35322f;
}


.projects .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.projects .card {
    flex-basis: 33.333333%;
    background-color: #ffffff2b;
    min-height: 40vh;
    margin: 4rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    -webkit-box-shadow: 0px 17px 15px -8px rgba(0,0,0,0.61); 
    box-shadow: 0px 17px 15px -8px rgba(0,0,0,0.5);    
    transition: all 0.3s ease-in;
}

.projects .card:hover {
    transform: scale(1.05);
}

.projects .content h3 {
    font-size: 2rem;
    padding: 2.4rem 2rem;
    color: #35322f;
}

.projects .content p {
    text-align: left;
    padding: 0 2.5rem 2.5rem;
}

.projects img {
    width: 50%;
    padding: 2.5rem 2rem;
}

.dev.projects {
    padding-bottom: 5rem;
}

/* ============================================== */
/*=== Local Nav ===*/
/* ============================================== */

.ln {
    margin: 5rem auto 0;
}

.ln-items {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ln-items li {
    margin-left: 15px;
    padding: 10px 20px;
    transition: all 0.3s ease;
}

.ln-items li:before {
    width: 0%;
    height: 0%;
    right: 0;
    bottom: 0;
    border-bottom: 2px solid transparent;
    border-right: 2px solid transparent;    
}

.ln-items li:after {
    width: 0%;
    height: 0%;
    top: 0;
    left: 0;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
}

.ln-items li:hover:before,
.ln-items li:hover:after {
    width: 1.3rem;
    height: 1.3rem;
    border-color: #35322f;
}

.ln-items a {
    color: #35322f;
}

/* ============================================== */
/*=== Footer ===*/
/* ============================================== */

.ftr {
    text-align: center;
    padding: 2rem;
    margin: 10rem 0 0;
    background-color: #42664E;
    color: #E8E3DD;
    font-size: 1.8rem;
}

.ftr img {
    width: 40%;
}

.ftr .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ============================================== */
/*=== Contact ===*/
/* ============================================== */
.contact .container{
    text-align: center;
    padding: 3rem 4rem 0;
}

.contact p {
    margin-top: 2.5rem;
}

.contact a {
    text-decoration: underline;
    color: #35322f;
}