@media (min-width: 400px) {
    .projects .container {
        max-width: 80%;
    }

    /* ==== About Page ==== */
    .about .intro .content {
        margin: 2.5rem 6rem 0;
    }
}

@media (min-width: 450px) {
    .svg-drawing {
        width: 50%;
    }

    .projects .container {
         max-width: 70%;
    }

    /* ==== About Page ==== */

    .divider .img{
        width: 12%;
    }

    /* ==== Artifact ==== */

    .artifact .introduction {
        margin: 5rem auto;
        width: 85%;
    }

    .artifact-slider .wrapper {
        width: 80%;
        margin: 0 auto;
    }


    .artifact h2 {
        font-size: 2.8rem;
    }

    .panel h3 {
        font-size: 2rem;
    }
}

@media (min-width: 576px) {

    .home .bnr .right h3 {
        font-size: 2.4rem;
    }

    .home .bnr .bird-mobile img {
        width: 35%;
    }

    .home .cta a {
        padding: 1.8rem 1.2rem;
        font-size: 1.6rem;
    }

    .projects .container {
        max-width: 60%;
    }

    .ftr {
        font-size: 1.4rem;
    }

     /* ==== About Page ==== */
    .about .intro img {
        width: 60%;
    }


     .divider .img {
         width: 10%;
     }

     /* ==== Artifacts ==== */
    
}

@media (min-width: 650px) {
    .projects .container {
        max-width: 50%;
    }

    /* ==== About Page ==== */
    .about .intro .content {
        margin: 2.5rem 9rem 0;
    }

    .about h2 {
        margin: 2rem 0;
    }

    .about span {
        font-size: 2rem;
    }


    .divider .img {
        margin: 9rem auto 0;
    }

    /* ==== Artifacts ==== */
    .artifact-slider .wrapper {
        width: 75%;
    }

}

@media (min-width: 768px) {
    .projects h2 {
        font-size: 4rem;
    }

    .projects h2:before,
    .projects h2:after {
        width: 2rem;
        height: 2rem;
    }

    .home .bnr {
        height: 65vh;
        overflow: hidden;
    }

    .home .bnr img {
        width: 90%;
        margin: 0 auto;
    }

    .home .bnr .left {
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

    .bird-mobile{
        display: none;
    }

        .birds,
        .birds-even {
            display: flex;
        }
    
        .home .left .birds-even {
            transform: translateY(-40rem);
            animation: move-birdseven 2s ease-in-out;
    
        }
    
        .home .left .birds {
            transform: translateY(-55rem);
            animation: move-birds 2s ease-in-out;
        }
    
        @keyframes move-birdseven {
            0% {
                transform: translateY(-120rem);
            }
    
            100% {
                transform: translateY(-40rem);
            }
        }
    
        @keyframes move-birds {
            0% {
                transform: translateY(20rem);
            }
    
            100% {
                transform: translateY(-55rem);
            }
        }

    /* ==== About Page ==== */
    .about .intro .content {
        margin: 2.5rem 15rem 0;
    }

    .about .intro img {
        width: 50%;
    }

    .about h2 {
        margin: 2.5rem 0;
        font-size: 3rem;
    }

    .about li {
        border-bottom: dashed #35322f  0.1rem;
        margin: 3.8rem 0;
    }

    .divider .img {
        margin: 9rem auto 0;
    }

    /* ==== Dev Artifacts ==== */


    /* ==== Artifacts ==== */
    .artifact-slider .wrapper {
        width: 70%;
    }

}

@media (min-width: 880px) {
    .projects .container {
        max-width: 40%;
    }

    /* ==== About Page ==== */
    .about .blurb {
        max-width: 70rem;
    }

    /* ==== Artifacts ==== */
    .artifact-slider .wrapper {
        width: 65%;
    }
}

@media (min-width: 992px) {
    header {
        flex-direction: row;
        padding: 2rem 0;
    }

    .logo {
        margin-left: 2rem;
        margin-bottom: 0;
    }

    .logo a {
        flex-direction: row;
    }

    .logo h1 {
        margin: 0;
    }

    .logo img {
        margin-right: 3rem;
    }

    .burger {
        display: none;
    }

    .gn {
        display: block !important;
        position: static;
        margin-left: auto;
        margin-right: 1.4rem;
        
    }

    .gn-items {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        align-items: center;
    }

    .gn-items li {
        margin-right: 3rem;
        border-bottom: none;
        font-weight: 700;
        padding: 1rem;
    }

    .gn-items li:last-child {
        margin-right: 0;
    }

    .gn-items li:before,
    .gn-items li:after {
        content: "";
        position: absolute;
        display: block;
        border: 0px solid transparent;
        width: 0%;
        height: 0%;
        transition: all 0.3s ease;
    }

    .gn-items li:before{
        width: 0%;
        height: 0%;
        right: 0;
        bottom: 0;
        border-bottom: 2px solid transparent;
        border-right: 2px solid transparent;
    }

    .gn-items li:after{
        width: 0%;
        height: 0%;
        top: 0;
        left: 0;
        border-top: 2px solid transparent;
        border-left: 2px solid transparent;
    }

    .gn-items li:hover:before,
    .gn-items li:hover:after {
        width: 1.3rem;
        height: 1.3rem;
        border-color: #E8E3DD;
    }

    .home .bnr {
        flex-direction: row;
        max-height: 65vh;
        margin: 6rem auto;
        padding-top: 0;
    }

    .home .bnr img {
        width: 100%;
    }

    .home .bnr .col {
        flex-basis: 50%;
        max-width: 50%;
    }

    .home .bnr .left {
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

    .home .bnr .right {
        padding: 0 3rem;
    }

    .bird-mobile {
        display: none;
    }

    .birds, .birds-even {
        display: flex;
    }
    
    .home .left .birds-even {
        transform: translateY(-40rem);
        animation: move-birdseven 2s ease-in-out;
        
    }
    
    .home .left .birds {
        transform: translateY(50rem);
        animation: move-birds 2s ease-in-out;
    }
    
    @keyframes move-birdseven {
        0% {transform: translateY(-120rem);}
        100%{transform: translateY(-40rem);}
    }

    @keyframes move-birds {
        0% {transform: translateY(140rem);}
        100%{transform: translateY(50rem);}
    }

    .artifact .theme-wrapper {
            width: 80%;
        }

    .projects {
        width: 100%;
        margin-top: 8rem;
    }

    .projects .container {
        max-width: 90%;
        flex-direction: row;
    }

    .projects .card {
        margin: 4rem 0.5rem;
    }

    .ftr {
        margin-top: 14rem;
    }



    /* ==== About ==== */

    .about .intro {
        width: 90%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 4rem 0 6rem;
    }

    .about .intro .col {
        flex-basis: 50%;
    }

    .about .intro img {
        width: 75%;
        margin: 0 auto;
    }

    .about .intro .content {
        margin: 0 2.5rem;
    }

    .about .card img {
        width: 100%;
        margin: 0;
    }

    .about h2 {
        font-size: 2rem;
        text-align: center;
    }

    .about .acc-btn {
        background-color: transparent;
        color: #35322f;
        font-size: 2.4rem;
        text-decoration: underline;
    }

    .about .skills img {
        width: 35%;
        margin: 0 auto;
    }

    .about .facts {
        margin-right: 5rem;
    }

    .about span {
        display: inline;
        margin-right: 2rem;
        font-size: 1.6rem;
    }

    .about .content p {
        font-size: 1.6rem;
        border-bottom:#E8E3DD dashed 0.1rem;
        text-align: left;
    }

    .about li {
        border-bottom: none;
        margin: 0 0 3rem;
    }

    .about .blurb {
        height: 35vw;
        /* width: 55vw; */
        background-color: #42664E;
        color:#E8E3DD; 
        margin: 25rem 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        -webkit-box-shadow: -4px 5px 12px 4px #6d5d5d; 
        box-shadow: -4px 5px 12px 4px #6d5d5d;
    }

    .skills h3 {
        font-size: 3rem;
        text-align: center;
    }

    .marketing {
        flex-direction: row;
    }

    .about .acc-btn {
        margin: 8rem 0 5rem;
    }

    .about .pure-g p {
        text-align: center;
        font-weight: 700;
    }

    .about .skills .container {
        display: block !important;
    }

    /* ==== Development Artifacts ==== */
    .artifact-dev .introduction {
        flex-direction: column;
    }

    .artifact-dev .introduction .content,
    .artifact-dev .introduction .img {
        width: 75%;
    }

    /* ==== Design Artifacts ==== */

    .artifact-design .introduction {
        flex-direction: row;
        margin: 8rem auto 0;
        width: 75%;
    }

    /* ==== Artifacts ==== */
    

    .artifact h1 {
        font-size: 4rem;
    }

    .ln {
        display: block;
    }
    
    .artifact-design .introduction .content, 
    .artifact-design .introduction .img {
        flex-basis: 50%;
        max-width: 40rem;
    }

    .artifact-design .introduction .content {
        margin-left: 7rem;
    }

    .panel .about,
    .panel .img {
        display: block;
        margin: 1.5rem auto 0;
        font-size: 1.6rem;
        flex-basis: 50%;
        max-width: 50%;
    }

    .bg-1 {
        background-color: #E8E3DD;
        
    }

    .artifact-slider {
        border-radius: 7rem
    }

    .artifact-slider .wrapper {
        width: 90%;
    }

    .panel {
        display: flex;
        align-items: center;
        margin: 6rem 0;
    }

    .row-rev {
        flex-direction: row-reverse;
    }

    .panel .about {
        margin: 0 6.5rem;
    }
    
    .panel h3 {
        font-size: 2.2rem;
    }

}


@media (min-width: 1080px) {

    .projects .container {
        max-width: 80%;
    }

    .home .left .birds {
        transform: translateY(48rem);
    }

    .home .left .birds-even {
        transform: translateY(-31rem);
    }

    @keyframes move-birdseven {
        0% {transform: translateY(-120rem);}
        100%{transform: translateY(-31rem);}
    }

    @keyframes move-birds {
        0% {transform: translateY(140rem);}
        100%{transform: translateY(48rem);}
    }

    /* ==== About ==== */
    .about .intro,.about .skills {
        max-width: 100rem;
    }
    
    /* ==== Artifacts ==== */
    .artifact-slider .wrapper {
        width: 85%;
    }

}

@media (min-width: 1200px) {
    body {
        font-size: 1.6rem;
        line-height: 1.4;
    }

    h1 {
        font-size: 3.5rem;
    }  
    
    .gn-items li {
        font-size: 1.8rem;
        font-weight: 400;
    }

    .home .bnr {
        padding: 6rem 0 4rem
    }

    .home .bnr .right h3 {
        font-size: 3rem;
        margin: 10rem 0 5rem;
    }

    .home .bnr .right h2 {
        font-size: 4rem;
        font-weight: 400;
        margin-bottom: 10px;
    }

    .home .bnr .right p {
        padding: 0 25px;
    }

    .home .cta {
        margin: 10rem;
    }

    .home .cta a {
        padding: 2rem 1rem;
        font-size: 1.8rem;
    }

    .home .cta a:hover {
        padding: 2.5rem 1rem;
        
    }

    .projects .container {
        width: 100%;
        flex-direction: row;
    }

    .projects .card {
        /* flex-basis: 33.33333%;
        max-width: 33.33333%; */
        height: 40rem;
        margin: 10rem 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        -webkit-box-shadow: 0px 17px 15px -8px rgba(0,0,0,0.61); 
        box-shadow: 0px 17px 15px -8px rgba(0, 0, 0, 0.466);    
        transition: all 0.3s ease-in;
    }

    /*===== About Page =====*/

    

}

@media (min-width: 1250px) {
    .home .left .birds {
        transform: translateY(48rem);
    }

    .home .left .birds-even {
        transform: translateY(-40rem);
    }

    @keyframes move-birdseven {
        0% {transform: translateY(-120rem);}
        100%{transform: translateY(-40rem);}
    }

    @keyframes move-birds {
        0% {transform: translateY(140rem);}
        100%{transform: translateY(48rem);}
    }
}

@media (min-width: 1400px) {
    .home .left .birds {
        transform: translateY(43rem);
    }

    .home .left .birds-even {
        transform: translateY(-33rem);
    }

    @keyframes move-birdseven {
        0% {transform: translateY(-120rem);}
        100%{transform: translateY(-33rem);}
    }

    @keyframes move-birds {
        0% {transform: translateY(140rem);}
        100%{transform: translateY(43rem);}
    }
}